---
BasedOnStyle: LLVM
ColumnLimit: 0
BreakBeforeBraces: Attach
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BinPackArguments: true
BinPackParameters: true
